@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #01080E;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #D7F9FF;
}

header, footer {
  /* background-color: #2BDEFD; */
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.947));
  color: white;
}

a {
  color: #2d2295;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
